.dropdown.btn-group > button > span.caret {
	display: none;
}

.dropdown.btn-group {
	vertical-align: unset;
}

.dropdown.btn-group > button:hover {
	background-color: #e8e8e8;
	border-color: #d1d9de;
	color: #758697;
}

.dropdown.open > .btn, .btn-group.open .dropdown-toggle {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}